<div class="pre-footer bg-green-600 text-white">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-4 text-center">
          <figure>
            <img
              src="/1.jpg"
              alt="Catalogue de produits"
            />
          </figure>
        </div>
        <div class="col-12 col-lg-8">
          <h2>Découvrez notre catalogue</h2>
          <p>
            Explorez une large gamme de produits sélectionnés pour répondre à vos
            besoins. Notre marketplace offre une expérience simple et rapide pour
            vos achats en ligne.
          </p>
          <a
            class="btn btn-primary"
            routerLink="/home"
            target="_blank"
          >
            Parcourir le catalogue
          </a>
        </div>
      </div>
    </div>
  </div>
  
  <footer class="bg-gray-800 text-white">
    <div class="row">
      
      <div id="contact">
        <h1>Contactez-nous</h1>
        <address>
          Bureau Administratif<br />
          Avenue des Entreprises<br />
          Tunis, Tunisie
        </address>
        <p>
          <strong>Téléphone</strong>: +216 00 000 000<br />
          <strong>Email</strong>:
          <a href="mailto:support@marketplace.com"></a>
        </p>
        <p>
          <a
            href="https://www.instagram.com/marketplace"
            title="Instagram"
            target="_blank"
          >
            <i class="fab fa-2x fa-instagram fa-fw"></i>
          </a>
          <a
            href="https://www.facebook.com/marketplace"
            title="Facebook"
            target="_blank"
          >
            <i class="fab fa-2x fa-facebook fa-fw"></i>
          </a>
        </p>
      </div>
  
      <div id="resources">
        <h1>Liens utiles</h1>
        <ul>
          <li><a href="/a-propos">À propos</a></li>
          <li><a href="/faq">FAQ</a></li>
          <li><a href="/conditions">Conditions générales</a></li>
          <li><a href="/contact">Contactez-nous</a></li>
          <li><a href="/blog">Blog</a></li>
        </ul>
      </div>
    </div>
  
    <div class="row">
      <div class="col-12" id="copyright">
        <p align="center">
          <i class="far fa-copyright"></i> &nbsp; Marketplace | Tous droits
          réservés
        </p>
      </div>
    </div>
  </footer>
  