<div class="pre-footer bg-green-600 text-white">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-4 text-center">
          <figure>
            <img src="https://cnu.edu/_assets/img/misc/college-planning-guide-cover/college-planning-guide-cover-285x400.png" alt="College Planning Guide cover">
          </figure>
        </div>
        <div class="col-12 col-lg-8">
          <h2>College Planning Guide</h2>
          <p>Choosing the right college is an important decision. It's all about finding the perfect fit — the size, the place, the people. We hope you'll find our College Planning Guide and video episodes a helpful resource as you go throughout the application process.</p>
          <a class="btn admission-btn" href="https://cnu.edu/admission/freshman/_pdf/cnu-college_planning_guide.pdf" rel="noopener" target="_blank">Download</a>
        </div>
      </div>
    </div>
  </div>
  
  <footer class="bg-gray-800 text-white">
    <div class="row">
      <img alt="Christopher Newport University logo" id="logo" src="https://cnu.edu/_assets/svg/logo-white.svg">
      <div id="contact">
        <h1>Connect</h1>
        <address>
          Office of Admission<br>
          One Avenue of the Arts<br>Newport News, VA 23606
        </address>
        <p><strong>Phone</strong>: (757) 594-7015<br/><strong>Email</strong>: <a href="" target="_blank"></a><br/> 
          <a href="https://www.instagram.com/cnu_admission/" title="Instagram">
            <span class="sr-only">Instagram</span>    
            <i class="fab fa-2x fa-instagram fa-fw">&nbsp;</i>
          </a>
        </p>
      </div>
  
      <div id="resources">
        <h1>Resources</h1>
        <ul>
          <li><a href="https://admit.cnu.edu/register/?id=bb901bd9-ff61-4ff8-8d3e-d36a181f8548" target="_blank">Request Admission Information</a></li>
          <li><a href="https://cnu.edu/families/">For Families</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="https://cnu.edu/visit/campusmap/">Campus Map</a></li>
          <li><a href="https://cnu.edu/public/index.html">Public Information & Policies</a></li>
        </ul>
      </div>
    </div>
    
    <div class="row">
      <div class="col-12" id="copyright">
        <p align="center">
          <i class="far fa-copyright"></i> &nbsp; Christopher Newport University | All Rights Reserved
        </p>
      </div>
    </div>
  </footer>
  